[2015-08-15 17:44] mansona opened #5 "Checklist for Ember 1.13+ (Glimmer) Support and usurping ember-list-view"
I am creating this as per the discussions that are found on this thread: https://github.com/emberjs/list-view/issues/245#issuecomment-131170337 if anyone wants me to add anything to the checklist just comment and I will do my best to keep up with what needs to be done.

### Documentation:
- [ ] update readme to reflect the reason for the new change
- [ ] document new features in the new implementa

[2015-08-17 22:05] mmun commented on #5
We've decided to commit to supporting 1.13. In particular, we will backport fixes to 1.13 if necessary (or inline the fix if its minor).

[2015-08-18 16:35] raytiley commented on #5
I just submitted a PR to the list-view README to point to ember-collection. https://github.com/emberjs/list-view/pull/252

[2015-08-18 19:26] mmun opened #12 "requestAnimationFrame cycle runs forever"
Currently, the requestAnimationFrame cycle will never be broken. We should break the cycle (i.e. "cancel" the callback) in `willDestroyElement`.

See here: https://github.com/emberjs/ember-collection/blob/8bd9cc34304f26a7c2352e5e85db0731907555f5/addon/components/ember-collection.js#L125-L126.

[2015-08-18 19:37] raytiley commented on #12
working on this now.

[2015-08-18 22:25] raytiley opened #14 "Memory Leak"
After leaving the dummy app open for a while I'm pretty sure the `requestAnimationFrame` is leaking memory somewhere. I'll take a look soon, just wanted to write this down so its being tracked.

<img width="1388" alt="simple 2015-08-18 18-23-31" src="https://cloud.githubusercontent.com/assets/41680/9344399/6523c23e-45d6-11e5-8cbb-590af6279526.png">

[2015-08-18 22:32] stefanpenner commented on #14
likely related https://github.com/emberjs/ember-collection/issues/12

[2015-08-18 22:34] raytiley commented on #14
Working on fixing that now... not sure this leak is the same though. I wasn't switching routes or anything, so the component was only rendered once, and just sat there leaking.

[2015-08-18 22:40] stefanpenner commented on #14
ya, then we have atleast another

[2015-08-19 00:09] #12 closed

[2015-08-19 01:29] mmun opened #17 "Test Cleanup"
Had a short hangout with @krisselden and @raytiley. Here's what we discussed.
### High level concerns
- Remove test dependency on ember-list-item-view class.
- Rewrite sortElementsByPosition to use getBoundingClientRect.
  - Set the test template `<div>`'s styles to "fill" the cell.
### Per-test file concerns
- [ ] acceptance/list-view-test.js
  - not discussed yet. probably needs to be broken up

[2015-08-19 02:21] mmun opened #19 "Some tests fail in Safari"
@shaunc has fixed it in https://github.com/shaunc/ember-collection/commit/5d2a9107b70e85e5fcb17ba11cdfb1b67e05fcbf so we need to cherry-pick / review the fix.

The issue, via @shaunc, is

[2015-08-19 13:41] shaunc commented on #19
https://github.com/emberjs/ember-collection/pull/24

[2015-08-19 15:07] #19 closed

[2015-08-19 18:17] shaunc opened #26 "Ability for user to get notifications on what is being displayed."
I would like an action `sliceDidChange` (or something like that) where a user could learn what is actually being displayed by the `ember-collection`. When the collection changes, the callback gets called with "startingIndex" and "visibleCount" giving offset and limit of slice from collection being displayed. The use cases to for this include:

1) take an action when content is actually displayed
2

[2015-08-19 18:30] raytiley commented on #26
I'm :+1: on the concept. We've talked about adding hooks to all the important life cycles. So the considerations I have are do does the slice action include the what's included due to the `buffer` property or just what is visible?

The `buffer` property was definitely a bit half baked that happened to get merged in with a whole lot of other things.

We could also avoid the internal details of the

[2015-08-19 19:15] shaunc commented on #26
My thinking was that the user does know about the buffer, as its a settable parameter, so can react appropriately. If they want to react to content displayed, they don't want to count the buffer. If they want to react anticipate the possible display of content, they need to take it into account, but probably they should do it consciously, rather than just having the content included automatically.

[2015-08-19 19:17] shaunc commented on #26
`on-enter-viewport, on-exit-viewport` a little more awkward for my use case, but I could live with it.

[2015-08-19 19:50] mmun commented on #26
I prefer slice events over enter/exit per item. You may have to do your own range arithmetic, but it seems more powerful.

[2015-08-19 19:52] mmun commented on #26
That said, sliceDidChange implies that the slice is contiguous, but layouts like the binpacker may reorder the items?

[2015-08-19 19:52] stefanpenner commented on #26
No code is faster than no code :trollface:

[2015-08-19 19:58] raytiley commented on #26
Currently we don't have any layouts that would change the order, but its a valid use case. Should we include as an argument to the action the actual items that will be rendered according to the layout?

[2015-08-19 19:59] raytiley commented on #26
https://gist.github.com/raytiley/69377c4a5fd6ba402caa

[2015-08-19 20:05] mmun commented on #26
I'm thinking an event that passes you a function you can call to ask the layout for the items

[2015-08-20 23:39] shaunc commented on #26
Hmm... listeners don't cost very much if they aren't used. How about if we create the `sliceDidChange()` now, and we could add itemwise enter/exit (or ...`chunksDidChange` or whatever is appropriate) if we support other layout? I like the `sliceDidChange` for the moment because it is more efficient for contiguous layouts.

I'm already experiencing significant performance problems when scrolling qu

[2015-08-21 00:25] krisselden commented on #26
@shaunc I'm doing some refactoring to make `{{ember-collection}}` a composition of lower level components, I do hope to provide this kind of info in the lower level components for building more complex stuff.

[2015-08-24 05:44] analysisi commented on #26
when i use ember build ,it stay on building ...., the tmp foler increased continuously from o to 1.2G,
can't get building result.

[2015-08-24 05:48] analysisi opened #33 "build failure"
when i run ember build, it just stay on building..., the tmp folder  increased continuously from 1 to 1.2G,
can't get build result.

[2015-08-25 15:26] lukemelia opened #36 "Make a virtual scrolling implementation"
@krisselden and I plan to create this at https://github.com/yapplabs/ember-virtual-scrollkit

[2015-08-25 15:26] lukemelia opened #37 "Complete refactor of layouts"
Give and receive size objects instead of widths and heights

[2015-08-25 15:27] lukemelia opened #38 "Figure out better way to mark properties and internal component state"
Using leading underscores implies private to component and we are using it to share with a component family

[2015-08-25 15:29] lukemelia opened #39 "Add new commonly needed layouts"
- [ ] layout that supports fixed num of columns and uses percentages to set widths with variable height rows
- [ ] layout that supports fixed num of columns and fixed height

[2015-08-25 15:57] krisselden opened #40 "ember dev community slack channel"
@jonnii and @shaunc we made a #dev-ember-collection channel on the Ember community Slack, please join us https://ember-community-slackin.herokuapp.com/

[2015-08-25 17:07] jonnii commented on #40
@krisselden will join when i'm home ^_^

[2015-08-26 04:29] lukemelia commented on #26
@krisselden which component would you imagine emitting the `sliceDidChange` action, `ember-collection`?

[2015-08-26 04:31] lukemelia commented on #36
It now exists. Needs polish, docs and tweaks, but it works.

[2015-08-26 04:31] #36 closed

[2015-08-26 04:40] lukemelia commented on #14
Still seems to be an issue after latest changes.

[2015-08-26 04:41] lukemelia commented on #33
@analysisi Here's my output:

[code]

Do you have any output at all? What OS are you seeing this on?

[2015-08-26 18:11] krisselden commented on #14
When there is no GC pressure, the line will not come down in that view. In the current master version, after diffing snapshots, I could not reproduce a leak in requestAnimationFrame.

[2015-08-26 18:11] #14 closed

[2015-08-26 21:15] shaunc commented on #39
How about also:

[ ] - layout that supports callbacks for item height and width

[2015-08-26 21:20] shaunc opened #43 "test tooling (phantomjs support?)"
The fact that `ember-collection` doesn't run in phantomjs tripped me up for a time; at the least the documentation should mention that, as phantomjs is standard config for ember-cli apps.

Better would be to get it to work in phantomjs, though; we need a `requestAnimationFrame` polyfill. I tried https://github.com/cagosta/requestAnimationFrame but couldn't get it to work. Any ideas?

[2015-08-27 06:20] shaunc commented on #26
@raytiley -- do you still fancy `on-enter-viewport`, `on-exit-viewport`? If the collection is displaying 20K data items, and the user drags the scroll bar from top to bottom, do you expect to get an event for each item as it goes by? (The same issue could be a consideration for `sliceDidChange` but the answer is more obviously "no".)

[2015-08-27 07:32] shaunc commented on #37
nb -- proposed "viewport" object for layout-bin-packer  https://github.com/stefanpenner/layout-bin-packer/issues/10#issuecomment-131199819 ... got it in partially in a branch ... now will need to fit it with the code refactor.

That would work -- right? I thought that perhaps layouts could even potentially support non-rectangular viewports (e.g. to flow around objects).

[2015-08-27 22:52] arenoir opened #44 "Does not work with DS.RecordArray()"
I am trying to pass a DS.RecordArray into the items attribute without luck.

For example the following should work.

[code]

[2015-08-28 07:18] #33 closed

[2015-08-28 15:13] lukemelia commented on #44
Some info from Slack discussion:

krisselden [4:17 AM]
currently it only works with arrays, if you want to update the array you have to use the NativeArray mixin to make it observerable, or give it a new slice each time you want it to update

krisselden [4:17 AM]
it will be made useable with an Ember.Array like Ember Data uses

krisselden [4:18 AM]
it would be nice if set() with a plain array trig

[2015-08-30 12:57] lukemelia commented on #37
What does a "viewport" object look like?

[2015-08-30 12:59] lukemelia commented on #39
@shaunc :+1:

[2015-08-31 22:03] calebrosario commented on #5
Do we have an ETA as to when this will be released?

[2015-08-31 22:36] rwjblue commented on #5
Yep. It will be released very shortly after it is ready. :smiley_cat:

[2015-09-02 09:48] analysisi opened #45 "build"
hello,
i want use it ,but my web don't work on ember-cli, i use requirejs ,
can't you help to build like this link , thanks
https://rawgit.com/rondale-sc/list-view-dist/canary/list-view.js

[2015-09-02 13:34] lukemelia commented on #45
Open to a PR that sets this up. Otherwise this is not a priority until
after ember-collection is in official release.

On Wednesday, September 2, 2015, analysisi <notifications@github.com> wrote:

[2015-09-03 02:21] indirect commented on #44
For me, this error was raised as:

[code]

Hopefully someone else who explicitly needs to call `toArray()` on their `DS.PromiseArray` will be able to find this.

[2015-09-04 12:21] lukemelia commented on #44
@indirect looks like this error has failing tests that reproduce it on master

[2015-09-04 19:25] indirect commented on #44
Cool. I wasn't able to find that test while googling (although I did find this issue after a while), so I figured I would link them more explicitly for searches.

[2015-09-06 01:12] analysisi commented on #45
ok,i see, thanks

[2015-09-06 01:12] #45 closed

[2015-09-09 16:34] pixelhandler opened #47 "[Question] Are there plans to support a sparse record collection?"
At a quick scan of the README I see the example that ember-collection will mange rendering 10,000 items and only draw what should be on screen.

My curiosity is… Since I will never ask my API for 10K records, does ember-collection also mange loading records in chucks?

Are there any plans for supporting a sparse array of models? And only load what should be loaded and drawn accordingly?

[2015-09-09 16:41] stefanpenner commented on #47
typically I have accomplished this successfully at a layer above ember-collection.

[2015-09-09 17:06] raytiley commented on #47
So there is some discussion about it here: https://github.com/emberjs/ember-collection/pull/27 but essentially the idea is send an action when the visible content changes, so you can load more content as needed.

[2015-09-09 17:33] stefanpenner commented on #47
yes, this sort of protocol i believe is what we we should encourage.

[2015-09-17 18:37] arenoir opened #50 "Inline style violates Content Security Policy"
Inline styles need to be whitelisted by Ember.String.htmlSafe

[2015-09-17 19:25] arenoir commented on #50
Whoops not `csp` I meant `xss`.   I am a bit confused but it looks like the style bound attribute only has to be a `htmlSafe` string if it is a computed property?

[2015-09-17 19:25] #50 closed

[2015-09-30 11:13] FezVrasta opened #53 "Can't install this component"
With every command I have tried, I can't install this component in my ember-cli app.

More info here:
http://stackoverflow.com/questions/32852223/how-to-install-ember-collection-using-ember-cli/32852796

[2015-09-30 11:23] FezVrasta commented on #53
solved, sorry

[2015-09-30 11:23] #53 closed

[2015-09-30 14:18] andorov opened #54 "Vendoring"
I was able to build the addon on my machine, but how do I vendor it?

[2015-09-30 15:14] FezVrasta opened #55 "ember-collection doesn't support Ember arrays"
I fetch a list of ingredients using this computed property:

    results: Ember.computed('searchQuery', function() {
      return this.store.query('ingredient', { filter: searchQuery, limit: 150 });
    }

Then I can iterate trough the `results` using:

    {{#each results as |result|}}
      {{result.name}}
    {{/each}}

------

Now I'd like to use `{{ember-collection}}` but when I try to use it

[2015-09-30 15:37] mmun commented on #55
It is a bug in ember-collection. It doesn't support Ember's array yet, only natives one. It will be fixed eventually.

[2015-09-30 15:39] FezVrasta commented on #55
Ok thanks, I have fixed it converting it with .toArray(), very annoying :(

[2015-09-30 15:48] FezVrasta opened #56 "use main view as "scrolling container" instead of adding another child view"
Corrently the main view of this component is useless, inside it there is a child view with `position: absolute` and `overflow: auto` and inside it there is the real list.

You may use the main view instead of creating the first child view, in this way we'd have less useless markup.

[2015-09-30 15:58] krisselden commented on #56
The 'main' view is intended to be a higher level abstraction that is composing lower level components, there is more in this direction coming.  Some grid layouts like a spreadsheet style will have more than one scrollable and this composing container will just be a container.  I'm not sure what the concern is about the extra div tag but I'm going to close this for now as I feel like this isn't a r

[2015-09-30 15:58] #56 closed

[2015-09-30 16:49] stefanpenner commented on #55
can your provide a quick demo app, that way i can quickly see whats wrong.

[2015-10-06 08:00] NicholasJohn16 opened #60 "Remember scroll position"
Is there an easy way to remember last scroll position after transitioning back into a route that uses this component?

[2015-10-07 05:00] pete-the-pete opened #61 "Tests Failing - starting with ember-beta"
Running 'npm test' locally fails starting with ember-beta. After running many tests, the first failure is below, with many tests failing in the same way afterwards.
[code]

[2015-10-07 20:12] calderas commented on #43
I ran into this issue and was able to use this polyfill for phantomjs
https://gist.github.com/paulirish/1579671

[2015-10-08 00:07] shaunc commented on #43
ah great :)

[2015-10-10 06:15] lukemelia commented on #61
Fixed!

[2015-10-10 06:15] #61 closed

[2015-10-10 19:10] lukemelia commented on #44
I expect that #66 will fix this.

[2015-10-10 19:12] lukemelia commented on #54
To use an alpha release you can do `npm install ember-collection --tag=alpha`. To use master, you can reference this github repository in your package.json as explained in npm docs.

[2015-10-10 19:12] #54 closed

[2015-10-10 19:14] lukemelia commented on #47
Yes, @krisselden has an idea for a datasource API that will facilitate sparse array support.

[2015-10-11 17:22] matthewnessworthy opened #67 "Nested data structure support?"
Is it possible to create/render nested components/data structures with this component?

[2015-10-11 20:56] #55 closed

[2015-10-12 21:35] caseyjenks opened #68 "Weird rendering glitch only in safari"
Screencast showing it here: http://quick.as/o5pfqjqq

This only started happening after implementing ember-collection.

Any ideas? I'm not a CSS guy :-/

[2015-10-12 21:37] caseyjenks commented on #68
Screenshot:

![playing_0_06___0_21](https://cloud.githubusercontent.com/assets/300131/10439430/d4a02394-7107-11e5-98e2-f924f22d8217.jpg)

[2015-10-14 17:29] danielspaniel opened #69 "listening to scroll change"
I am trying to listen to the scrolling as the collection scrolls, and first thought of passing in
my own scroll-change action to handle this, but that means the collection is actually delegating to
my scroll change action instead of doing its own scrolly things.

In the ember-collections component there is the action:

[code]
which means that if I pass in an action handler to listen for the scroll

[2015-10-15 15:49] alexander-alvarez commented on #69
If you extend the component, you should be able to call `_super` within your action handler to also call the original action.

[code]

[2015-10-15 18:00] danielspaniel commented on #69
your right @alexander-alvarez, I could just do that .. I guess I was trying to fish about to see if the intent really was to have the passed in scroll-change listener override the built in one.
 Not sure why that was done that way in other words.

[2015-10-16 04:35] lukemelia commented on #69
@danielspaniel The idea was that the default behavior of scrolling should be that it works normally, BUT if you want to handle the scrollChange action in a true data down, actions up manner than we don't want to get in your way of updating the scrollLeft and scrollTop as you see fit.

Maybe too confusing? Definitely needs docs if it's going to stay like this.

[2015-10-21 06:08] krisselden commented on #68
I need reproduction steps or a working demo.

[2015-10-21 06:21] krisselden commented on #67
I'm not a 100% clear on the question but if you are asking can this render a tree structure vs a list?  You need to flatten the tree structure into a list then you can use the component helper to vary on the node.type `{{#ember-collection items=flattenedTree as |node|}}{{component node.type item=node}}{{/ember-collection}}`.

[2015-10-21 06:21] #67 closed

[2015-10-21 06:22] #40 closed

[2015-10-21 06:22] #44 closed

[2015-10-21 07:26] stefanpenner commented on #67
@krisselden I believe he is asking if you can have nested view tree, not tree data.

[2015-10-22 18:31] calebrosario commented on #5
Any updates?

[2015-10-24 23:40] oliverwilkie commented on #43
If it helps, I installed this polyfill

`bower install raf.js`

and then updated my `ember-cli-build.js`

with

[code]

[2015-11-17 17:55] spinlock99 commented on #5
@mansona I'd love to start working on the documentation. If you -- and hopefully others -- are willing to answer lots of noob questions, I'll write them into the documentation so you don't have to answer them twice :-)

[2015-12-01 17:39] v3ss0n opened #70 "Is this dead>"
I am looking for a listview that is incremental and this is only for Emberjs right?
is this list view stable to use? or abandoned?

[2015-12-01 19:09] rzurad commented on #70
Yes, this is only for Ember.js.

As for it being abandoned, I've been wondering that myself since there hasn't been any activity in over a month. I've been toying with alpha 4 using Ember 2.0.2 for the last few days and it seems stable enough to use so far, but I'm expecting to have to patch a few things and I haven't thoroughly tested my use case for it across every browser I need to care about.

[2015-12-01 19:50] raytiley commented on #70
Its not dead... just waiting for the torch to be picked up again. I need to circle back soon and get finish integrating ember-collection into my project, hopefully in the next few weeks.

[2015-12-01 20:04] rzurad commented on #70
Good to hear! I'm definitely liking what I'm seeing in alpha 4. Keep up the good work! It's very much appreciated :)

[2015-12-01 20:17] krisselden commented on #70
Definitely not abandoned but I've been focused on general Android performance issues.

[2015-12-02 00:33] #70 closed

[2015-12-02 12:24] haggins opened #71 "fixed-grid.js:74 Uncaught TypeError: height depends on the first argument of visibleWidth(number)"
Hi,

I'm trying to get the sample running with alpha 4 but always get the error:

fixed-grid.js:74 Uncaught TypeError: height depends on the first argument of visibleWidth(number)

It seems like the component action `clientSizeChange(clientSize)` always gets only a number (width) as parameter instead of the expected `{width: xy; height: xy}` object.

My code is this:

template.hbs
[code]

route.js

[2015-12-06 09:05] davidgoli commented on #70
:+1: good question, would be interested in contributing if there's an easy entry point

[2015-12-09 08:15] v3ss0n commented on #70
@krisselden  I have performance problem At android using virtual rendering in other frameworks too.
Why it is slow and how slow it is at android? Is that due to Fixed positioning ( we redemied this to a point using transformZ css hack).

[2015-12-11 10:06] tschoartschi commented on #5
@rwjblue first of all, thanks for your efforts and your awesome contributions to open source projects. I wanted to ask if there are any updates and when ```ember-collection``` is ready? Right now I would need such functionality and I question myself if I should wait or if I should implement a solution myself

[2015-12-14 22:03] mansona commented on #5
"ready" can sometimes be such a strong word :joy: I'm currently using this and it is working fine for me, the real thing it's lacking is documentation. I figured out what I needed it to do from the source and I reckon fresh eyes with a day of hacking at the source and trying to get it to work for a few use cases could come up with some seriously nice documentation. I, unfortunately, cannot commit

[2015-12-16 08:36] tschoartschi commented on #5
@mansona you are right, the word "ready" can be missleading. I just asked because the last release was on 15.9.2015 and has alpha in the version name (```v1.0.0-alpha.4```). I'm always a little bit cautious when using an alpha version in a production app. But I'll give it a quick try and see how it behaves.

[2015-12-16 23:13] humanchimp opened #72 "tabindex is not respected"
I've been trying to use the alpha-4 release of this component to replace `ember-list` in an Ember app I've been upgrading from Ember 1.11 (still). Unfortunately, I immediately ran into a problem with `tabindex`, which we were using to allow the user to navigate the list using focus. It seems that `ember-collection` is relying on `translate` to put items in the visually correct order, but `tabindex

[2015-12-17 22:07] kaiwah commented on #60
+1, looking for a solution to this other than storing scroll state on every transition

[2015-12-23 16:32] g-cassie commented on #72
@humanchimp I am getting around this in my app by observing the tab key and then setting focus on the correct element using javascript.  It's a bit hacky but it works...

You will also notice this design characteristic when writing acceptances tests because the order of the list is not necessarily reflected by the order in which the elements appear in the dom.

[2016-01-17 23:20] rwjblue opened #73 "Deploy dummy app to provide an interactive demo."

[2016-01-17 23:20] rwjblue commented on #73
@ef4 - Can I use your cli deploy plugin for this?

[2016-01-17 23:46] ef4 commented on #73
Yes, working on a PR.

[2016-01-18 00:08] rwjblue commented on #73
:heart:

[2016-01-18 03:20] #73 closed

[2016-01-18 23:15] seanrucker commented on #39
Do any of the current layouts support a row with a 100% width?

[2016-01-20 22:11] raytiley commented on #60
You can do this by binding `scroll-top` and / or `scroll-left` to properties in your controller. For example adding this line: `queryParams: ['scrollTop'],` to this controller in the dummy app (https://github.com/emberjs/ember-collection/blob/master/tests/dummy/app/controllers/scroll-position.js) will put the scroll position in the URL and will be remembered when you re-visit the route.

[2016-01-20 22:12] raytiley commented on #39
I'm going to work on some of these in the next few days.

[2016-01-21 04:32] #69 closed

[2016-01-21 04:35] lukemelia commented on #60
The scroll position is remembered even without the query param (though not across page reloads). I added a note to that page of the dummy app about this.

[2016-01-21 04:35] #60 closed

[2016-01-23 17:44] danielspaniel commented on #39
Is there a layout for making one column that is fixed ( does not scroll horizontally ) , and the rest scroll horizontally if the width overflows the collection width.  But the whole collection still scrolls vertically.
Kind of like what ember-table has for their financial table example.  I wonder if that is what the mixed grid layout is for?  If you need any help implementing this I would be happy

[2016-01-23 18:10] krisselden commented on #39
This would be better done with a combo of ember-collections and a truly fixed grid that doesn't wrap. Basically a spreadsheet view I'm assuming. The problem with doing it with one is the scrollbar is in the wrong place, you just want the headers to mirror the offset but be just overflow hidden

[2016-01-23 18:44] danielspaniel commented on #39
That happens to be exactly what I am doing. Using 2 ember-collections that is. Yes, it's the basic spreadsheet view.
 Right about the scrollbars. That is kinda tricky.
 I guess I was hoping there was a way to use just one ember-collection because there was a case where I was having performance issue with both collections running requestAnimationFrame loops.  It's not tragic or anything, but was ju

[2016-01-29 15:53] hfranken opened #83 "scrollable ember-collection"
On Mac Safari, with System Preferences set to "Scroll Always",
a vertically oriented ember-collection with content larger than its container does not show a visible scroll bar.
This is not a problem in other browsers such as Chrome.
We discovered that the presence of matrix3d() in the style generated inside the ember-collection seems to be responsible. Forcing matrix3d() to be replaced with matrix

[2016-01-30 16:54] raytiley commented on #83
I'm not seeing this issue on OS X 10.11.2 Safari 9.0.2.

With this commit (https://github.com/emberjs/ember-collection/commit/cb0c961c5af6be5acaba59e547c92b29e42bcfbc) you can extend the layout of your choice and override `formatItemStyle` and generate the best CSS for your use case.

[2016-01-30 19:46] raytiley commented on #72
Relying on translate to put things in the correct place visually is indeed a performance optimization that allows for recycling DOM more efficiently. That said seeing as this can impact accessibility it would probably be prudent to have an easy escape hatch to force `ember-collection` to render the items in the same order they appear in the collection.

Given that the biggest benefit to ember-coll

[2016-01-30 19:48] raytiley commented on #71
@haggins could you create a new ember project with a bare bones recreation? I would like to take a stab at fixing, but haven't seen this issue in my tests / app.

[2016-01-30 20:36] krisselden commented on #72
@raytiley there is an abstraction for diffing in ember I think we should leverage for updating cell order to data order

[2016-01-30 21:32] raytiley commented on #72
@krisselden if we just reorder the cells to be in the same order as the items in the collection glimmer would just take care of it, c/d?

[2016-01-31 15:26] nkgm commented on #39
Layout that supports section headers/footers?

[2016-02-01 23:19] flyswatter opened #89 "Collection cells overlap pop-overs"
I use a `position: fixed` element for a pop-over effect in an application, and EmberCollection seems to use 3D transforms in a way that makes lower cells initially block pop-overs from higher cells:

![screen shot 2016-02-01 at 3 16 06 pm](https://cloud.githubusercontent.com/assets/542863/12734694/0dea0178-c8f7-11e5-8ca6-42cb2a60fc3a.png)

After scrolling down and up again, there is a chance the p

[2016-02-01 23:32] raytiley commented on #89
I had this problem when I first started using `list-view` / `ember-collection`. The issue is the transform creates a new stacking context. You could ether.

A) Extend the layout and generate CSS that doesn't use the transform so it's compatible with what you are rendering in the cells.

B) Use something like [Ember Wormhole](https://github.com/yapplabs/ember-wormhole) and / or[Ember Tether](https:

[2016-02-03 03:42] sir-dunxalot opened #93 "Could not find addon with name: ember-collection"
Everytime I run `ember install ember-collection` I get the following error message. I find it hard to believe this bug is caused by this addon. However, I have not been able to reproduce this issue with any other ember addons.

![image](https://cloud.githubusercontent.com/assets/4495352/12772269/ca016d04-c9fd-11e5-8ec9-475b0b8226c4.png)

As you can see, `npm install --save-dev ember-collection` co

[2016-02-03 04:14] #43 closed

[2016-02-05 20:58] sarus commented on #93
Interesting I just ran into this same issue.

Tried to do

[code]
and got:

[code]

[2016-02-08 17:44] Jordan4jc commented on #93
Yep I'm getting this issue as well.

[2016-02-08 18:09] Jordan4jc opened #96 "Work with responsive items"
I'm attempting to use this addon with a list of items on a mobile oriented app. The items currently take up the full width of the window, and have an image within them, so the height will not always be the same as that image is going to grow to fit the item container and thus it's height will grow making the whole item (that the collection is rendering) taller. How would I handle this with the col

[2016-02-08 18:38] flyswatter commented on #89
By the way, you were totally on point with this feedback, thank you, I was able to implement a solution based on your response (did a global modal type solution instead, kindof side-stepping the ember-wormhole style solution).

[2016-02-08 21:44] raytiley commented on #93
If I had to guess this is because `ember-cli` won't discover pre-release addons. I scanned the issues but didn't see one for this. I'll check in slack and see if anyone has an opinion.

[2016-02-09 01:57] raytiley commented on #93
Hey everyone. This should be fixed now. Turns out there was a `0.0.0` version published to npm which shouldn't of been there. Thanks @rwjblue for getting rid of that for us.

![foo -zsh 82x24 2016-02-08 20-56-51](https://cloud.githubusercontent.com/assets/41680/12905602/85d6588a-cea6-11e5-8b02-a5809d58ff22.png)

[2016-02-09 01:59] rwjblue commented on #93
Awesome job tracking that down @raytiley!  I'm going to close this (happy to reopen if needed later)...

[2016-02-09 01:59] #93 closed

[2016-02-09 02:01] raytiley commented on #96
Do you know the aspect ratios of the images you are iterating over?  The only way to do this currently is to create a layout that will return the correct width and height for each item in the collection.

Currently ember-collection doesn't support scenarios where you let the browser layout the items and then measure afterwards.

[2016-02-09 20:07] g-cassie commented on #96
We have written a super hacky code to calculate height on elements by pre-rendering them in a div off the screen.  AFIK this is the only way to support variable height items.  If you know that the items will either be one of two heights you could probably make a custom layout fairly easily to support this.

[2016-02-09 20:16] dfreeman commented on #96
We've done something similar where items are rendered in place in the collection and measured (in batches), then the layout is tweaked accordingly. It gets the job done, but I have no doubt someone with a better overall grasp of Glimmer could do it better.

[2016-02-13 02:12] mehulkar opened #97 "filtering changes the order of the DOM elements"
If I apply a filter a list and take it away, DOM elements are inserted in a seemingly random order. This might be expected or even intentional, and I'm not sure if it's ember-collection's problem, but just wanted to point it out.

So if I have these items:

[code]

and

[code]

I get the HTML:

[code]

So far so good.

But if I apply a filter to `items` (lets say so `items` is only even number ite

[2016-02-14 01:29] raytiley commented on #26
@krisselden do you have any further thoughts how this api should work? @shaunc have you been using #27 How does the api feel in real world use?

Just trying to prod the discussion a little bit so we can get something landed.

[2016-02-14 01:32] raytiley commented on #89
@flyswatter going to close this for now since I think it's outside the scope of `ember-collection` to handle this. If it comes up frequently we can probably add something to the docs.

[2016-02-14 01:32] #89 closed

[2016-02-14 01:34] raytiley commented on #71
@haggins i'm going to close this... If your able to provide a reproduction please reopen. Thanks.

[2016-02-14 01:34] #71 closed

[2016-02-14 01:39] raytiley commented on #68
I pinged @caseyjenks in slack and he was unable to provide a reproduction. Going to close this for now. If someone is able to provide reproduction or more specific steps to cause this issue will reopen.

[2016-02-14 01:39] #68 closed

[2016-02-14 01:44] raytiley commented on #37
@lukemelia how applicable is this now. After landing #81 `ember-collection` doesn't directly request the size / position from the layout. It instead only gets the current starting index, the number of displayed items, and the css style for a given index.

[2016-02-14 02:06] shaunc commented on #26
I have been using a fork w/ sliceDidChange in one place yes... but so -- not very extensively (but that place is embedded in several other things and it works in all of them). I still think that for very large collections the alternative (`on-enter/exit-viewport`) might be expensive if you really insist on triggering an event for everything that goes by.

Perhaps in some instances you actually wan

[2016-02-16 14:09] badazz91 opened #99 "Allow integration of third-party js e.g. perfect-scrollbar"
Ember-Collection should allow for easier integration of custom scrollbar js.
Right now we have to override `EmberNativeScrollable` to change the `contentElement` in `didInsertElement` and the `element` in `scrollCheck` and to override the default template of `EmberCollection`.

[code]

[code]

[code]

[2016-02-17 00:57] mehulkar opened #100 "ability to add a CSS class to each element"
Maybe I'm missing something, but it would be nice to be able to specify a CSS class to each of the actual DOM elements that are generated by the collection (since the DOM structure that is generated seems internal and I don't want to rely on the specific number of nested divs that are generated.
I can apply my class to an element inside the collection, but it makes it harder to do things like add

[2016-02-19 13:57] nkgm commented on #26
Is this issue still relevant?

[2016-02-22 02:25] arkadiyk opened #103 "Override native-scrollable styles."
`ember-native-scrollable` sets `overflow: scroll` for mobile devices.

what is the best way to override it with: `overflow-y: scroll; overflow-x: hidden;` ?

Thanks.

[2016-02-22 15:15] dfreeman opened #104 "Scroll drift in Chrome when zoomed in"
A fun one! Thanks to [this Chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=440691), in combination with [these `parseInt`s](https://github.com/emberjs/ember-collection/blob/master/addon/components/ember-collection.js#L102), you can end up in a situation where `ember-collection` slowly scrolls upwards with no user input.

To reproduce, take a look at [the scroll position demo](h

[2016-02-23 17:51] jcypret opened #105 "Items not appended using momentum/inertia scroll on iOS"
When showing scrolling through a collection on iOS, new items are not added during momentum/inertia scrolling. As soon as the finger leaves the screen/mouse/trackpad, no new items are added. I'm assuming this has to do with scroll events not being fired once the screen is not being touched.

Is there any known fix for this issue?

[2016-02-23 17:53] runspired commented on #105
@jcypret I'm assuming you are referring to a cordova app?

[2016-02-24 22:01] jcypret commented on #105
@runspired Actually, yes! I'm working on a Cordova app. Do I need to configure things differently with that in mind?

[2016-02-24 22:02] runspired commented on #105
@jcypret you need either something like `iscroll` or to upgrade to `wkWebView`

[2016-02-25 01:43] lukemelia commented on #105
We built yapplabs/ember-virtual-scrollkit on top of ember-collection to
solve this problem in UIWebViews. It is unfortunately not well-documented
yet.

On Wednesday, February 24, 2016, Chris Thoburn <notifications@github.com>
wrote:

[2016-03-01 14:06] diogomafra opened #106 "A helper named 'percentage-columns-layout' could not be found"
I'm trying to define a collection with the helper `percentage-columns-layout`, but I'm getting the following error:

[code]

Here is a repo that reproduces the problem (Ember 1.13.12, Ember-collection 1.0.0-alpha.5).
https://github.com/diogomafra/collection-test

[2016-03-01 14:13] diogomafra commented on #106
It looks like the latest published version (1.0.0-alpha.5) does not have this helper. Using the master branch solves the problem.

[2016-03-01 23:58] raytiley commented on #106
yeah... we should release an alpha 6 soon

[2016-03-07 16:32] #106 closed

[2016-03-09 18:22] danielspaniel commented on #99
I don't think this much suffering is required @badazz91.

 Here is what I do to wrap ember collection in whatever scroll thing I like:

[code]

The only trick here is to set a class on your ember collection like in this case ( collection ) like this:

[code]

[2016-03-09 18:33] danielspaniel opened #107 "how to test sort ordered collection when dom elements are not same order as visual order"
I am curious about this one because it's kind of neat-o that ember collection uses the matrix css property to place dom elements in the visual world, but this makes testing a 'sort ordered' list .. really hard .. is it impossible? Don't know.

Assuming each element in the ember collection kinda looks like this:
[code]

 So Visually, you might see on a page:
   Title-1
   Title-2
   Title-3

and th

[2016-03-09 18:59] raytiley commented on #107
Ember collection uses some test helpers currently to do this. I would start there.

https://github.com/emberjs/ember-collection/blob/master/tests/helpers/helpers.js

[2016-03-09 19:13] danielspaniel commented on #107
Holy cow .. those are some fancy a-- test helpers .. that is my ticket to happiness. thanks :)

[2016-03-09 19:16] #107 closed

[2016-03-10 20:10] drourke commented on #104
Any updates on this? Seems like the fix is to remove the `parseInts`..

[2016-03-11 05:35] jcypret commented on #105
@runspired @lukemelia Thanks for the recommendations! I ended up going with `wkWebView` and it worked like a charm!

[2016-03-11 05:35] #105 closed

[2016-03-13 23:34] lhluo opened #108 "items of different heights or dynamic heights"
Without pre-rendering and measuring, is there support for items with heights which are not know before hand? If not, I tried a work-around where all items are the same height, but **expandable**. But is this supported since the height has to change dynamically?
I tried the following for a expandable list item:
[code]
Then, in Ember, i changed to height of one item via
`      this.get('dimensions')

[2016-03-14 02:06] camunching commented on #39
I'm trying to build the spreadsheet view described by @danielspaniel and am having some difficulties.

Here is a twiddle with 3 questions: https://ember-twiddle.com/e897c3dd00a715ba827b. Would anyone be able to help me?

I also posted my questions on Stack Overflow http://stackoverflow.com/q/35977293/6058374

[2016-03-15 02:01] danielspaniel commented on #39
Here is what I am doing to get this layout:

https://ember-twiddle.com/e8f1f4fb075facace155

Now, this is only the start of your troubles.

Because
#1 you have to line up the header properly with a nice margin and keep that margin when scrolling it
#2 You have to hook up the javascriptyness to say: Hey .. you scrolled down on the main content, so please, would you mind scrolling the fixed row cont

[2016-03-15 17:55] camunching commented on #39
Lol, thanks for taking the time to help me out, danielspaniel! I ended up using the Ember 2.0 branch of ember-table and finding that it was reasonably performant for our particular use case, thankfully!

But I'm planning on playing around with your Twiddle on the weekend using your suggestions. Thanks again!

[2016-03-17 20:58] minhnq013 opened #109 "Unable to set the scroll bar to always be visible"
Currently the css property of overflow is auto, however as I am using this in a table, it is necessary to always display the scrollbar (for aligning header and table body).

Would it be possible to have some way of changing/accessing the css property of scroll div? Aside from the scrollbar it would be useful to have access other css properties as well.

Many thanks,
M

[2016-03-22 23:13] lhluo opened #111 "Highlighting unexpected behaviour Ember Collection"
When using an ember-collection, and scrolling down for a bit (so views are recycled and re-ordered). Highlighting a portion that expands more than a few items will sometimes highlight the whole list. This is probably because of the way that the DOM is arranged. Is there any work-around so that highlighting works as expected?

[2016-03-28 17:45] raytiley commented on #111
This is almost definitely related to items being rendered in the DOM in a different order than the collection. There is a hack here: #98 to preserve cell order. I'm going to work on moving that forward which should  resolve this.

[2016-03-28 17:47] raytiley commented on #104
The problem with removing the `parseInts` is right now I think that would break the layouts since `layout-bin-packer` doesn't deal w/ floating point numbers... but I guess it could. This needs more investigation.

[2016-04-01 16:39] g-cassie commented on #108
I have variable heights working.  I built a custom layout which tracks both the height of each object and the cumulative height of everything before it.  It implements a method called `updateHeight`.  I subclassed `ember-collection` so that every 100ms it checks the heights of all ember-collection cells in the DOM and calls `layout.updateHeight()` with the new values.  This gets the job done howev

[2016-04-14 15:28] jasalguero opened #114 "error looking up layouts"
Just trying to add it to a project doesn't work, installing with

`ember install ember-collection`

and then trying to use any of the default layouts gives me a:

ember.debug.js:15332 Uncaught Error: Assertion Failed: A helper named 'mixed-grid-layout' could not be found

Ember CLI version: 1.13.15
Ember version : 2.1.0

[2016-04-25 06:04] Geokoumpa commented on #67
I recently came across a situation where a tree structure had to be rendered, with the root element count being 2k+.

What I eventually did was calculate for each node its selfAndDescendants count recursively, also taking into consideration if each node's collapse button has been clicked. Then based on the selfAndDescendants counts of each root node, a computed property calculated all the itemSize

[2016-05-01 22:06] ghedamat opened #115 "index not updated properly"
Hi!

I'm in the process of updating what @cibernox did here https://github.com/cibernox/ember-power-select-collection

In its newest version ember-power-select relies on the `index` yielded property of the `#each` helper.

It appears that this is not playing super well with ember-collection and when power-select filters the list the indexes are not updated properly.

ember-collection exposes an `i

[2016-05-01 23:02] ghedamat commented on #115
also to be noted, I have a workaround for ember-power-select that doesn't rely on the index property but I  still wonder if `index` is correct

[2016-05-02 10:41] raytiley commented on #115
Related: https://github.com/emberjs/ember-collection/pull/110

Sorry, just haven't had time to figure out why those tests are failing, but basically when reusing cells we aren't updating the index that gets exposed.

[2016-05-02 14:15] ghedamat commented on #115
@raytiley no problem, I missed that #110 was the same.

As mentioned I have a workaround for now anyway.

Thanks for the quick response!

[2016-05-03 14:59] Ramblurr commented on #103
Just ran across this too.

On iOS devices the default `overflow:scroll` (or even auto) behavior results in bouncy over-scroll in 2 dimensions.

For collections where scrolling is only desired in one dimension we need to set `overflow-?` to hidden, but this isn't possible given the current implementation of ember-native-scrollable.

[2016-05-18 13:29] bloodknight2010 opened #118 "Ncaught Error: Assertion Failed: A helper named ‘percentage-columns-layout’ could not be found"
I installed the ember-collection addon. While the running my app I got the following error.
 **"Uncaught Error: Assertion Failed: A helper named 'percentage-columns-layout' could not be found"**
What should I do?
Pls help me.

Regards

Knight

[2016-05-18 22:01] TopsyCM commented on #26
I have a use case that requires knowing where we are in the collection. This is for two purposes: to track state and to load data. The naive solutions I have come up with involve reproducing the calculations being done in the layout to determine the number of elements that will fit on the screen and the topmost index. Anything more graceful requires getting information out of ember-collection that

[2016-05-19 12:17] jeremytm commented on #118
I'm seeing the same thing. Ember 2.5.1. Ember-collection alpha 5.

[2016-05-20 08:09] bloodknight2010 commented on #118
Yes. Sure. I found the solution. Thank for your suggestion.

[2016-05-20 08:09] #118 closed

[2016-05-20 08:18] jeremytm commented on #118
@bloodknight2010, would you mind sharing your solution?

[2016-05-20 09:14] bloodknight2010 commented on #118
I created percentage-columns-layout.js in helper and write the following codes

[code]

[2016-06-28 16:55] carlesnunez opened #119 "[Performance] items result of a Ember.computed.sort make performance issues on scroll"
Hi everyone.

I was using your addon but when I put an a ember computed property on the items attribute the list breaks.

First of all renders all correctly but when I make scroll the list don't show the data properly, shows it breaked with more spaces than the necessary between the rows. I checked with all the layouts and have the same problem. How can I allow sort or computed without have an a p

[2016-06-29 10:13] carlesnunez commented on #119
Is fixed.

BTW, the problem was is related with the sort function. It have a strange behaviour with DUPLICATED values and that issue extends to the ember-collection.

[2016-07-07 16:43] BryanCrotaz opened #121 "Inline style on cell violates csp"
[code]

What's a good way to apply the style using js? I've done this successfully in [ember-cli-csp-style](https://www.npmjs.com/package/ember-cli-csp-style) but that only works on the root element. Can't use a helper as it doesn't know its target context.

Happy to write a PR for this if someone more familiar with Glimmer can hint at a good way to solve.

[2016-07-07 17:46] krisselden commented on #121
It's because it is using a path that goes through setAttribute which then uses the CSS parser, if it did style prop of the element that would work. This though would need to expose the current element modifier API which isn't public or become a component.

[2016-07-07 17:47] BryanCrotaz commented on #121
I've refactored as a component - getting it working in a fork then submitting a PR

[2016-07-14 02:18] hunterboerner commented on #111
Same problem here. Is this being fixed?

[2016-08-06 06:43] negideepak opened #123 "Scrolling issues"
I am using ember-collection to paint list view using  "cell-layout=(fixed-grid-layout  width height)" , also I made sure the parent div has position relative. But when i scroll the list Up-Down several times the element become invisible from the screen though they are right there.

[2016-08-10 16:01] cnatis commented on #114
@jasalguero I ran into the same issue after installing ember-collection while running ember serve. The solution was to restart ember serve.

[2016-08-10 16:06] cnatis opened #124 "Custom layout documentation outdated"
I am trying to create a custom layout but using the basic documentation provided in the read me is resulting in errors. A deeper look into ember-collection reveals that the layout helper structure has changed and the docs are out of date.

[2016-08-17 19:53] CostaRico commented on #124
+1

[2016-09-01 07:21] negideepak opened #125 "Thumbnails of image files overwrite previously printed thumbnails"
While using ember-collection I found one issue. Lets say I am showing contents (image files) of a folder using ember-collection. Folder has 1000 image files having thumbnails of each image file. Now when user scrolls down for the view to paint next page images then, the boxes created by ember-collection overwrites thumbnails of new image files over the previously painted (1st page) instead of writ

[2016-09-14 10:00] Cryrivers opened #126 "Glimmer 2 Compatibility"
Hi, may I ask if there are any plans to support Ember 2.9 + Glimmer 2?

[2016-10-24 14:40] hugoruscitti opened #128 "Can't install on ember 2.7.0"
Hi !

I have an issue with this addon when i try to install directly i get:

[code]

but installing alpha.6 seems to work, it's normal to specify this version for new projects? or there are any other workaround?

[code]

[2016-10-24 15:15] hugoruscitti opened #129 "Horizontal layout"
I want to create an horizontal timeline, like this:

![preview3 png 784x553 2016-10-24 12-13-35](https://cloud.githubusercontent.com/assets/99183/19651477/5a4243ce-99e3-11e6-9327-0d78925c3793.png)

But i don't find any example or use case, it's possible crate an horizontal scroll with this addon?

[2016-10-26 12:55] locks commented on #128
@hugoruscitti seems like the first one successfully installed. I'm updating the issue title to make it clearer.

[2016-11-26 22:57] trisrael commented on #39
@danielspaniel did you end up using this approach?

I implemented this by scratch simply using some event listeners for my fixed left and my fixed header but am running into shady performance issues -- a user can notice a slight difference when scrolling, the scrollTop position is slightly off.

Was hoping using a library such as this one would help relieve these issues... but probably depends on

[2016-11-26 23:12] danielspaniel commented on #39
Not sure what you mean by "this approach" @trisrael ?  the ember-table one?

 I did not use ember-table. from what I saw of ember-table there was way too much stuff I had to paste together to get the table working.  Does not mean it's not a good idea one day to use it ( when they switch to ember 2 and it's all supported. I just don't love using something that is so far behind in their upgrades/upd

[2016-11-27 22:17] NicholasJohn16 opened #134 "Fill gaps in Mixed Grid Layout"
I have a collection of images that are all standard sizes (all widths or heights are 128, 256, or 512). I'm trying to use the mixed grid layout, but I want all the empty spaces to be filled. Is there anyway to do that by default or will I need to create a new layout or bin?

[2016-11-27 23:00] stefanpenner commented on #134
@NicholasJohn16 I assuming you would like some sort of masonry grid? At this point, this is not supported out of the box. Although a new layout may be able to support this, if it does not. It would be interesting to explore what would be needed to support that use-case.

[2016-11-28 01:15] NicholasJohn16 commented on #134
Yup, masonry grid was what I was thinking of. Thanks for your help.

[2016-11-28 01:15] #134 closed

[2016-11-28 01:26] stefanpenner commented on #134
@NicholasJohn16 I always wanted to implement masonry for this project, but never had the chance/opportunity.  Would love to see it added 👍

[2016-11-29 00:29] trisrael commented on #39
@danielspaniel

Yea no, I meant the ember-collections approach for sure.

Screen hero would be great but not necessary.

I imagine the approach is not too different from my none ember-collections one.
Just wondering about the benefits/tradeoffs of moving to ember-collections for this use case (spreadsheet).

I was hoping specifically it would have some off viewport optimizations (i.e: lazy renderi

[2016-11-29 01:05] danielspaniel commented on #39
Well, the benefit is that ember-collection is being maintained while ember-table just seems like it is abandoned.  And even with all the little things I did to make it work, it is still much less code that the ember-table would be ( tons of setup for that .. and that seems silly to me )

I tried to make a twiddle even though I told you I would not bother, because twiddle supports addons now. I sto

[2016-11-29 01:42] Cryrivers commented on #126
Closing this one as v1.0.0-alpha.7 already supported Glimmer 2.

[2016-11-29 01:42] #126 closed

[2016-12-18 12:35] lolmaus opened #135 "Component reuse causes focus to appear in the input of a component that user never clicked"
Hi! :smile:

## Steps to reproduce

1. Open https://lolmaus.github.io/ember-example/#/50000
2. Put focus into an input
3. Scroll slowly
4. See the focused input leave the viewport
5. Keep scrolling slowly

# What should happen

Should never see a focused input again while scrolling in the same direction.

## What actually happens

Shortly after the focused input disappears at the top of the viewpo

[2017-01-03 03:47] Luiz-N commented on #26
any progress here? I've been using [a tweaked version](https://github.com/miguelcobain/ember-paper/pull/573/files#diff-a42b091a9d7f7ba47709369d108a3207R27) of ember paper's virtual repeat to send all visible items onScroll. I have the `onScrolled` property feeding directly into an ember concurrency task to tame the flood of calls as needed. This works well for monitoring the visible items but I wo

[2017-01-03 18:24] Luiz-N opened #137 "scroll to (select) specific item/index"
Any plans to add a way to pass in the index of specific item which will trigger scrolling to that item?
Something like `scrollTo=selectedIndex`? I've seen this in similar ember virtual lists.

[2017-01-24 03:02] zcharli opened #138 "Rerender is called when component is destroyed"
**The Error:** You can't call rerender on a view being destroyed
**The Use Case:** Having a service that's receiving a stream of data, collected into an array. This array is binded to ember-collection. When we destroy the component, ie. navigate to another route, the observer of ember-collection still catches changed made from the data stream (WS). It tries to rerender when the component is dead.

[2017-02-13 11:17] pieter-v opened #140 "Remember the scroll position doesn't always work."
If the width/height is not known in advance (e.g.: width is 80% of the parent element) and if the layout needs to know these values to determine the sizes of the items (e.g: a layout where each item is a square and has ’n’ columns), then specifying a scroll position doesn't work.
This is due to the fact that ember-native-scrollable is inserted into the dom before its parent ember-collection. So, t

[2017-02-20 19:13] ahoyahoy opened #143 "item size observer"
auto or manual update after change item height (or width)

[2017-02-20 19:14] ahoyahoy opened #144 "scroll to item"

[2017-02-20 19:16] #144 closed

[2017-02-20 19:16] ahoyahoy commented on #144
sorry, duplicate

[2017-02-24 18:27] danwenzel opened #145 "Allow hooking into scroll event instead of overriding"
With the current functionality, you can interact with `ember-collection`'s scroll event.  But this requires you to completely override the default `scroll-change` action.

The docs show this example as a way to maintain current scroll behavior:

[code]

... but in reality,[ there is more going on in the default scrollChange event](https://github.com/emberjs/ember-collection/blob/master/addon/compo

[2017-03-27 22:08] danwenzel commented on #145
Any ideas on this?  Again, I'm happy to open a PR.

[2017-03-29 12:59] Alonski opened #147 "URL leads to 404 Error"
https://emberjs.com/ember-collection/
In Description
Leads to a 404 error...

[2017-03-29 13:55] locks commented on #147
@Alonski hi, can you tell us where did you get linked from?

[2017-05-12 14:22] danwenzel commented on #145
Trying again.  Anyone have ideas on this?

[2017-05-13 20:55] nsharrok opened #150 "didInitAttrs and Ember.k DEPRECATION warnings for ember 2.13.1"
DEPRECATION: [DEPRECATED] didInitAttrs called in <mrx@component:ember-collection::ember1044>. [deprecation id: ember-views.did-init-attrs] See http://emberjs.com/deprecations/v2.x#toc_ember-component-didinitattrs for more details.

ember-collection/addon/components/ember-collection.js
line 51    didInitAttrs() {

As a workaround hack I commented out lines 49 and 51

DEPRECATION: Ember.K is depreca

[2017-05-17 17:27] NickChristensen commented on #150
Looks like `ember-metal.ember-k` was fixed with #136, but there hasn't been a release since.

[2017-06-07 10:01] lolmaus commented on #147
The solution is quite simple:

1. `ember i ember-cli-deploy`
2. `ember i ember-cli-deploy-build`
3. `ember i ember-cli-deploy-ghpages`
4. At the bottom of `config/environment.js`, find the `if (environment === 'production')` section and add `ENV.rootURL = '/ember-collection';`.
5. In the `config/deploy.js` generated during addon installation, add this:

[code]

There's something causing a redirect

[2017-06-07 10:10] locks commented on #147
Can you send a PR @lolmaus? I'm closing the issue as we fixed it by removing the link from the repository description :P

[2017-06-07 10:10] #147 closed

[2017-08-11 19:51] NickChristensen opened #152 "Yield content block before/after loop"
I've found myself needing to add some content *inside* the scroll area, but *before/after* the loop. Maybe this isn't a common need, because I'm guessing in most cases this would mess with the DOM calculations.

In this case, however, I needed to inject a div for an ember-wormhole destination after the items, but inside the scroll container. This helps the content (dropdown menus) scroll with the

[2017-08-12 16:51] Luiz-N commented on #145
Is this the kind of thing you're looking for? https://github.com/emberjs/ember-collection/issues/137

[2017-08-14 16:08] danwenzel commented on #145
@Luiz-N - Not really... I'm looking for the ability to hook into the existing scroll event, so you can run a custom function when the user scrolls the list.

[2017-11-15 13:10] HarenBroog commented on #152
I have similar need. I wanted to display loading slider just after last loaded item or display message like "no more items". This is hardly achievable outside of scroll area due to its fixed height. Properties like `afterItemsComponent` and `beforeItemsComponent` accepting contextual components would be nice addition.

[2017-12-28 14:09] pikhtaras opened #165 "Single js file version"
Is it possible to get a single JS file with the addon? Need to use it with the app without ember-cli.

[2018-01-03 12:18] locks commented on #165
I'm sorry, but the addon is minimally maintained at the moment and there is no goal of providing a non-addon version. Hope you manage to sort it!

[2018-01-03 12:18] #165 closed

[2018-01-18 12:55] bsvipas opened #167 "position absolute"
Why is position absolute by default? All list is almost in the center of the browser, I need to use it inside table to load tr>td, but seems I can't. Tried to do a lot of CSS hacks, but still... Maybe anyone has any suggestions?

[2018-03-07 09:03] Alonski opened #168 "Publish v1.0.0-alpha.8 to NPM Repository"
Currently the latest NPM Ember Collection package is using v1.0.0-alpha.7.

The newest version fixes Ember.K and didInitAttrs depercations.

Currently I am importing this package like this:
`"ember-collection": "https://github.com/emberjs/ember-collection",`

[2018-03-14 23:59] thomblake commented on #168
npm currently has 1.0.0-alpha.8 - you can install it directly using `npm install ember-collection@1.0.0-alpha.8`

the website says latest is 1.0.0-alpha.7 so I'm guessing that one is tagged as 'latest'? Though I'm not entirely sure how that tagging works on npm. https://www.npmjs.com/package/ember-collection

[2018-03-15 00:55] jacobq commented on #168
npm [`dist-tags`](https://docs.npmjs.com/cli/dist-tag) are separate from [`git tag`](https://git-scm.com/book/en/v2/Git-Basics-Tagging)s. It looks like what happened is that the last time it was published, the publisher used `npm publish --tag=alpha`. I believe `latest` can be updated by running `npm dist-tag add ember-collection@1.0.0-alpha.8 latest`

[code]

[code]

[2018-03-15 00:59] jacobq commented on #168
@Alonski your version specification should be [equivalent to specifying `master`](https://docs.npmjs.com/files/package.json#urls-as-dependencies), which is currently (as of 1/16/18) identical to `1.0.0-alpha.8`. If you switch it to `1.0.0-alpha.8` does anything change?

[2018-03-15 16:50] Alonski commented on #168
Thanks @jacobq and @thomblake! I didn't realize that alpha8 was published :smile:
This works for me now

[2018-03-15 16:50] #168 closed

[2018-03-21 07:19] Alonski commented on #150
There is a release on NPM 1.0.0-alpha.8.
You need to specify that when installing: yarn add ember-collection@1.0.0-alpha.8

This can be closed

[2018-03-21 07:40] Alonski opened #169 "Updating NPM Dependencies to remove Deprecation Warnings"
While trying to update an app that uses this addon to v3.0.0 I ran into this deprecation:
An addon is trying to access project.nodeModulesPath. This is not a reliable way to discover npm modules. Instead, consider doing: require("resolve").sync(something, { basedir: project.root }). Accessed from:

This needs to be fixed so that projects using this addon can upgrade to v3.0.0.

This should fix it:

[2018-03-21 11:45] #150 closed

[2018-04-03 11:10] vothaison commented on #100
Good idea.
Also, can elements have different height?

[2018-04-05 20:08] andrewzamojc-pd commented on #167
This also breaks our tooltips, which render behind our collections. Ember collections are built to use `position: absolute` and `transform: matrix3d` to stack things. This is bad. Everything in the collection could be in-flow, but to make infinite scroll work, it's been implemented with this hack. Although it works in isolation, it does not work in the wild where people use absolute to make this f

[2018-04-25 23:54] alexlafroscia opened #171 "Publish alpha 8"
It seems like `alpha.8` was tagged but never published to NPM. Would you mind doing that? Thanks!

[2018-04-26 00:55] stefanpenner commented on #171
1.0.0-alpha.8. looks published

[2018-04-26 00:56] #171 closed

[2018-04-26 03:05] alexlafroscia commented on #171
Weird, I did `ember install ember-collection` and it didn't bump my local version to `alpha.8`...

[2018-04-26 04:12] stefanpenner commented on #171
in general, alpa releases being latest is strange. @krisselden / @rwjblue any reason to not just release 1.0.0?

[2018-10-16 05:31] betocantu93 opened #176 "Can't get simple example to work"
Hello, I've been trying to make a proof of concept but I can't even get the readme example to work... I keep getting errors with all the layouts.

For the fixed layout I get
`Uncaught TypeError: height depends on the first argument of visibleWidth(number)`

Even if I literally copy the code and with the parent using position:relative

I would show some code but it's literally a copy paste from the

[2018-10-16 06:15] betocantu93 commented on #176
Okay I don't know what happens between alpha.7 and alpha.9, but it works with alpha.9

The problem is that `ember install ember-collection` pulls the alpha.7 version from npm... publishing to npm should solve the issue

[2018-10-16 07:05] fpauser commented on #167
@andrewzamojc-pd Did you try [html-next/vertical-collection](https://github.com/html-next/vertical-collection)?

[2018-11-12 13:02] candunaj opened #177 "In ember 3.5 ember-collection does not work"
Hi,
I would like to upgrade my ember application to version 3.5 which is production ready, but I am using ember-collection package. I get error in console and ember-collection is not rendered. Is there any workaround for this problem?

Error: Could not find module `ember` imported from `ember-collection/components/ember-collection`

Thank you

[2018-11-13 13:29] candunaj commented on #177
Sorry version alpha.9 is working in ember 3.5.

[2018-11-13 19:07] #177 closed

[2019-03-23 00:09] icole commented on #176
Would love see this as well. Pointing to the repo and using alpha.9 removes several deprecation warnings. Would be nice to not have to point directly to GitHub.

[2020-02-25 03:52] dtolios opened #179 "RTL support/advice"
I've been using ember-collection's mixed grid layout for a project and have had success with it in production. Recently, we have decided to support RTL for our application, but i noticed that ember-collection positions elements based on inline matrix3d rules. I was wondering if anyone had any advice on getting ember-collection to work for right-to-left so that the grid just positions from right to

[2020-04-06 16:38] rwwagner90 commented on #138
@lukemelia is there a reason we would not want to put the `if (this.isDestroyed || this.isDestroying) {return;}` check in the official library?

[2020-04-07 00:02] #138 closed

[2020-05-27 14:46] lupestro opened #190 "Can README specify supported/tested browsers, Ember versions, etc.?"
I'm glad to see this project reawaken, but I don't know if it will work for us. Are IE11 and old Edge supported by the reawakened addon? What about Ember versions? How far back? Maybe this could go up near the installation section, where people are deciding whether to install it or not.

[2020-08-24 16:10] candunaj commented on #104
This problem still happen in Microsoft Edge browser when page is zoomed in or zoomed out. Is there any plan to fix it?

[2020-11-17 15:25] fredjohnd commented on #190
If it helps I'm using Ember 2.8.3 and it didn't work for me because the layout helpers are using the new modular imports:
[code]

I had to create my own helper with the old format:
[code]

I'm also using the alpha 8 version. Hope that helps.

[2021-02-10 10:28] negideepak opened #197 "Ember.js Test: Render component inside component"
I have a situation where I have written test cases for two components, and both components test cases passed successfully.

Now, I want to run actually as then run

lets say: comp2 renders inside comp1 on a button click

1) How can I render one test component inside another
2) Can the child-test-component send information to  @parent-test-component on successful completion of its test case

@rwjbl

[2021-02-10 10:28] #197 closed

[2022-01-07 17:32] nwhittaker opened #210 "`array-observers` deprecation"
The [`ember-collection` component][1] is triggering the [`array-observers` deprecation][2]. This may be a blocker for Ember 4 upgrades.

[1]: https://github.com/adopted-ember-addons/ember-collection/blob/796107758fe38d2bd5313761b05b51bc551d48a7/addon/components/ember-collection.js
[2]: https://deprecations.emberjs.com/v3.x/#toc_array-observers

[2022-02-23 14:16] #119 closed